<!DOCTYPE html>
<html>
  <head>
    <title>Deep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%= image_tag "logos/logo.jpg", :size => "1000x500" %>
  <audio controls style="width: 500px;">
    <source src="http://dl2.djring.com/lq.djring.com/48/489606/INTERNATIONAL%20DREAMS%20Episode%207%20-%20DJ%20ASIF%20(DJJOhAL.Com).mp3" type="audio/mp3", autoplay: true, :controls => true >
  </audio>


  <%= audio_tag "Andrew.mp3", id: "sound",  class: "audio-to-play",  autoplay: true, :controls => true %>

    <%= yield %>
  </body>
</html>
